/* 긴급 지원 이미지 */

.geongKi-image {
  position: absolute;
  left: 10px;
}

.kamko-image {
  position: absolute;
  top: -2px;
}

.jutak-image {
  position: absolute;
  left: 8px;
}

/* 컴포넌트 */

.sub-Urgent__container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; /* #3 */
  width: 90vw;
  height: 68px;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 32px;

  position: relative;
}

.sub-Urgent__img {
  padding-top: 14px;
  padding-left: 32px;

  position: absolute;
}

.sub-Urgent__ContainTitle {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  margin-left: 50px;
  white-space: pre-wrap; /* \n 줄바꿈 */

  position: relative;
  left: 80px;

  font-family: 'SUIT', sans-serif;

  line-height: 15px;
}

.kamko-button {
  font-family: 'SUIT';
  font-size: 10px;
  font-weight: 600;
  color: white;
  border: 1px solid white;
  background-color: #265bcb;
  border-radius: 10px;
  width: 16%;
  height: 22px;
  cursor: pointer;
  margin-left: 78%;
  max-width: 450px;

  position: relative;
  top: -20px;
}

.kamko-title {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  margin-left: 50px;
  margin-top: 20px;
  white-space: pre-wrap; /* \n 줄바꿈 */

  position: relative;
  left: 80px;

  font-family: 'SUIT', sans-serif;

  line-height: 15px;
}
