.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px; /* 네비게이션 바의 높이 */
    width: 100%;
    max-width: 450px;
    background-color: #3b5dbf; /* 파란색 배경 */
    position: fixed;
    bottom: 0; /* 화면 하단에 고정 */
    z-index: 1000;
    justify-content: center;
  }
  
  .navbar-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45px; /* 각 아이콘 영역의 너비 */
    height: auto;
    text-decoration: none;
    margin-left: 7%;
    margin-right: 7%;
  }

  .navbar-icon p {
    margin: 0;
    color: white;
  }
  
  .icon-img {
    width: 30px; /* 아이콘의 크기 */
    height: 30px;
  }