/* img */

.school-daeHan-image {
  position: absolute;
  top: -2px;
  left: 12px;

  height: 35px;
  width: 34px;
}

.school-hanBumo-image {
  position: absolute;
  top: -2px;
  left: 4px;

  height: 29px;
  width: 50px;
}

.school-miral-image {
  position: absolute;
  top: 0px;
  left: 10px;

  height: 28px;
  width: 34px;
}

.school-gurye-image {
  position: absolute;
  top: -2px;
  left: 14px;

  height: 35px;
  width: 25px;
}

/* 컴포넌트 */

.sub-han__container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; /* #3 */
  width: 90vw;
  height: 64px;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 32px;
  max-width: 405px;
  position: relative;
}

.sub-han__img {
  padding-top: 16px;
  padding-left: 20px;

  position: relative;

  display: flex;
  align-items: center;
}

.hanbumo-button {
  font-family: 'SUIT';
  font-size: 10px;
  font-weight: 600;
  color: white;
  border: 1px solid white;
  background-color: #265bcb;
  border-radius: 10px;
  width: 16%;
  height: 22px;
  cursor: pointer;
  margin-left: 78%;
  max-width: 450px;

  position: relative;
  top: -8px;
}

.school-miral-button {
  font-family: 'SUIT';
  font-size: 10px;
  font-weight: 600;
  color: white;
  border: 1px solid white;
  background-color: #265bcb;
  border-radius: 10px;
  width: 16%;
  height: 22px;
  cursor: pointer;
  margin-left: 78%;
  max-width: 450px;

  position: relative;
  top: -8px;
}
