/* img */

.school-korean-image {
  position: absolute;
  top: -2px;
  left: 10px;

  height: 36px;
  width: 37px;
}

.school-bockJiRo-image {
  position: absolute;
  top: -2px;
  left: 10px;

  height: 36px;
  width: 37px;
}

.school-gyeongSang-image {
  position: absolute;
  top: -2px;
  left: 10px;

  height: 32px;
  width: 37px;
}

.school-seoulSi-image {
  position: absolute;
  top: -2px;
  left: 12px;

  height: 37px;
  width: 31px;
}

.school-naJu-image {
  position: absolute;
  top: -4px;
  left: -4px;

  height: 40px;
  width: 64px;
}

/* 컴포넌트 */

.sub-school-Background {
  background-color: #f2f6fd;
  height: 1100px;
  width: 100%;
}

.sub-school__container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; /* #3 */
  width: 90vw;
  height: 68px;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 32px;
  max-width: 405px;
  position: relative;
}

.sub-school__img {
  padding-top: 16px;
  padding-left: 20px;

  position: relative;

  display: flex;
  align-items: center;
}

.naJu-button {
  font-family: 'SUIT';
  font-size: 10px;
  font-weight: 600;
  color: white;
  border: 1px solid white;
  background-color: #265bcb;
  border-radius: 10px;
  width: 16%;
  height: 22px;
  cursor: pointer;
  margin-left: 78%;
  max-width: 450px;

  position: relative;
  top: -14px;
}
